@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.earningContainer {
  text-align: left;
  background-color: $red !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .title {
    @include title;
    display: flex;
    justify-content: space-between;

    .iconContainer {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $neutral5;
      border-radius: $radius-circle;
      background-color: var(--icon-bg);

      &:hover {
        background-color: var(--icon-bg-hover);
      }
    }
  }

  .revenue {
    font-size: 24px;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }

  .text {
    @include sub-text;
  }
}
