@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/index.scss';

.modernContainer {
  display: flex;
  flex-direction: column;

  > * {
    display: flex;
    width: 100%;

    > * + * {
      margin-left: 24px;
    }
  }

  > * + * {
    margin-top: 24px;
  }

  .modern1,
  .modern3,
  .modern4,
  .modern5 {
    > * {
      @include card;
    }
  }

  .modern1 {
    > * {
      box-sizing: border-box;
    }

    &_middleComponent,
    &_rightComponent {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_leftComponent {
      flex-basis: 46%;
      padding: 0;
    }

    &_middleComponent {
      flex-basis: 20%;
    }

    &_rightComponent {
      flex-basis: 34%;
    }
  }

  .modern2 {
    &_leftComponent {
      flex-basis: 65.5%;
      @include card;
    }

    &_rightContainer {
      flex-basis: 34.5%;

      > * {
        @include card;
      }

      .modern2_topComponent {
        margin-bottom: 24px;
        text-align: left;
      }
    }
  }

  .modern3 {
    > * {
      padding-bottom: 0;
    }

    &_leftComponent {
      flex-basis: 31.25%;
    }

    &_rightComponent {
      flex-basis: 68.75%;
      padding-bottom: 8px;
    }
  }

  .modern4 {
    > * {
      flex-basis: 50%;
    }
  }

  .modern5 {
    > * {
      flex-basis: 33.33%;
      box-sizing: border-box;
    }

    &_leftComponent,
    &_middleComponent {
      padding: 0;
    }
  }
}
