@import '../../assets/styles/index.scss';

.helloContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    @include title;
    text-align: left;
    padding: 24px;

    button {
      @include button;
      width: fit-content;
      margin-top: 18px;
    }
  }

  .img {
    flex-basis: 36%;
    height: 266px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-bottom-right-radius: $radius-card;
    }
  }
}
