@import '../../assets/styles/index.scss';

.title {
  @include sub-title;
  display: flex;
  justify-content: space-between;

  .iconContainer {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $neutral5;
    border-radius: $radius-circle;
    background-color: $primary;
  }
}

.number {
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.subtext {
  @include sub-text;
}
