@import '../../assets/styles/index.scss';

.title {
  @include sub-title;
  display: flex;
  justify-content: space-between;

  .iconContainer {
    @include icon-circle-48;
    color: $neutral5;
    background-color: $primary;
  }
}

.number {
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.subtext {
  @include sub-text;
}
