@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/index.scss';

.ecomContainer {
  display: flex;
  flex-direction: column;

  > * {
    display: flex;
    width: 100%;

    > * + * {
      margin-left: 24px;
    }
  }

  > * + * {
    margin-top: 24px;
  }

  .ecom1,
  .ecom3,
  .ecom4 {
    > * {
      @include card;
    }
  }

  .ecom1,
  .ecom3 {
    > * {
      box-sizing: border-box;
    }

    &_leftComponent {
      flex-basis: 32.5%;
      text-align: left;
    }

    &_rightComponent {
      flex-basis: 67.5%;
    }
  }

  .ecom1 {
    &_rightComponent {
      display: flex;
      text-align: left;
      padding: 0;

      > * {
        flex-basis: 25%;
        padding: 24px;
        box-sizing: border-box;
      }

      > * + * {
        border-left: solid 1px $neutral3;
      }
    }
  }

  .ecom2 {
    &_leftComponent {
      flex-basis: 65.5%;
      @include card;
    }

    &_rightContainer {
      flex-basis: 34.5%;

      > * {
        @include card;
      }

      .ecom2_topComponent {
        margin-bottom: 24px;
        background-color: $red;
      }
    }
  }

  .ecom4 {
    > * {
      flex-basis: 33.33%;
      box-sizing: border-box;
    }

    &_leftComponent {
      padding: 0;
    }

    &_middleComponent {
      text-align: left;
      display: flex;
      flex-direction: column;

      > * + * {
        margin-top: 18px;
      }
    }
  }
}
