@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/index.scss';

.ecomContainer {
  @include flex-column;

  > * {
    display: flex;
    width: 100%;

    > * + * {
      margin-left: 24px;
    }
  }

  > * + * {
    margin-top: 24px;
  }

  .ecom1,
  .ecom3,
  .ecom4 {
    > * {
      @include card;
    }
  }

  .ecom1,
  .ecom3 {
    > * {
      box-sizing: border-box;
    }

    &_leftComponent {
      flex-basis: 32.5%;
    }

    &_rightComponent {
      flex-basis: 67.5%;
    }
  }

  .ecom1 {
    &_rightComponent {
      display: flex;
      padding: 0;

      > * {
        flex-basis: 25%;
        padding: 24px;
        box-sizing: border-box;
      }

      > * + * {
        border-left: solid 1px $neutral3;
      }
    }
  }

  .ecom2 {
    &_leftComponent {
      @include card;
      flex-basis: 65.5%;
    }

    &_rightContainer {
      @include flex-column;
      flex-basis: 34.5%;
      justify-content: space-between;

      > * {
        @include card;
        flex-basis: 50%;
      }

      > * + * {
        margin-top: 24px;
      }

      .ecom2 {
        &_topComponent {
          background-color: $red;
        }

        &_bottomComponent {
          display: flex;
          align-items: center;

          :nth-child(1) {
            flex-basis: 68%;
          }

          :nth-child(2) {
            flex-basis: 32%;
          }
        }
      }
    }
  }

  .ecom4 {
    > * {
      flex-basis: 33.33%;
      box-sizing: border-box;
    }

    &_leftComponent {
      padding: 0;
    }

    &_middleComponent {
      @include flex-column;

      > * + * {
        margin-top: 18px;
      }
    }
  }
}
