@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;

  .text {
    @include sub-title;
    padding-bottom: 3px;
  }

  .number {
    font-size: 18px;
    letter-spacing: 1px;
  }

  .iconContainer {
    @include icon-circle-48;
    color: $neutral1;
    background-color: $red;

    &:hover {
      background-color: $red--hover;
    }
  }
}

button {
  @include button;
  width: fit-content;
  margin-top: 12px;
}
