@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.monthlySalesContainer {
  text-align: left;
  padding: 0 !important;

  .title {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0 24px;

    .text {
      font-size: 14px;
      font-weight: 500;
      color: var(--card-subtext);
    }

    .number {
      @include title;
      letter-spacing: 1px;
    }

    .iconContainer {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $neutral5;
      border-radius: $radius-circle;
      background-color: $primary;

      &:hover {
        background-color: $primary--hover;
      }
    }
  }
}
