@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.monthlySalesContainer {
  padding: 0 !important;

  .title {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0 24px;

    .text {
      @include sub-text;
      font-weight: 500;
    }

    .number {
      @include title;
      letter-spacing: 1px;
    }

    .iconContainer {
      @include icon-circle-48;
      color: $neutral5;
      background-color: $primary;

      &:hover {
        background-color: $primary--hover;
      }
    }
  }

  .chartContainer {
    @include line-chart-container;
  }
}
