@import '../../assets/styles/index.scss';

.congratsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    @include sub-title;
    line-height: 36px;
    padding: 24px;

    .number {
      font-size: 30px;
      font-weight: normal;
      padding-top: 9px;

      span {
        font-size: 14px;
      }
    }

    button {
      @include button;
      width: fit-content;
      margin-top: 18px;
    }
  }

  .img {
    flex-basis: 36%;
    height: 190px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-bottom-right-radius: $radius-card;
    }
  }
}
