@import '../../assets/styles/index.scss';

.congratsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    @include sub-title;
    line-height: 36px;
    text-align: left;
    padding: 24px;

    .number {
      font-size: 24px;

      span {
        font-size: 14px;
        font-weight: normal;
      }
    }

    button {
      @include button;
      width: fit-content;
      margin-top: 18px;
    }
  }

  .img {
    flex-basis: 36%;
    height: 177px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-bottom-right-radius: $radius-card;
    }
  }
}
