@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.title {
  @include sub-title;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;

  .iconContainer {
    @include icon-circle-48;
    color: $neutral5;
    background-color: var(--icon-bg);

    &:hover {
      background-color: var(--icon-bg-hover);
    }
  }
}

.revenue {
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.text {
  @include sub-text;
}
