@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.summaryItem {
  .iconContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    width: 52px;
    height: 52px;
    border-radius: $radius-circle;
  }

  &:nth-child(1) {
    .iconContainer {
      color: $blue;
      background-color: $blue--glass;

      &:hover {
        background-color: $blue--glass-hover;
      }
    }
  }

  &:nth-child(2) {
    .iconContainer {
      color: $yellow;
      background-color: $yellow--glass;

      &:hover {
        background-color: $yellow--glass-hover;
      }
    }
  }

  &:nth-child(3) {
    .iconContainer {
      color: $red;
      background-color: $red--glass;

      &:hover {
        background-color: $red--glass-hover;
      }
    }
  }

  &:nth-child(4) {
    .iconContainer {
      color: $green;
      background-color: $green--glass;

      &:hover {
        background-color: $green--glass-hover;
      }
    }
  }

  .numbers {
    @include title;
    font-weight: 600;
    display: flex;
    align-items: baseline;

    span {
      font-weight: normal;
      font-size: 12px;
      padding-left: 9px;
    }

    .up {
      color: $green;
    }

    .down {
      color: $red;
    }
  }

  .text {
    @include sub-text;
  }
}
