@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.title {
  @include title;
  @include flex-center-sb;
}

.tag {
  font-size: 12px;
  padding: 4px 14px;
  width: fit-content;
  border-radius: $radius-active-tab;

  &:nth-child(even) {
    background-color: $yellow;
  }

  &:nth-child(odd) {
    background-color: $green;
  }
}

.subtitle {
  @include sub-title;
  font-size: 16px;
  padding-bottom: 7px;
}

.detailsContainer {
  display: flex;
  border-bottom: solid 1px $neutral3;

  > * {
    flex-basis: 33.33%;
    font-size: 14px;

    .subtitle {
      @include sub-text;
      padding-bottom: 5px;
      color: var(--secondary-text-2);
    }
  }

  .detail {
    &:nth-child(2),
    &:nth-child(3) {
      border-left: solid 1px $neutral3;
      padding-left: 8px;
      padding-bottom: 18px;
    }
  }
}

.teamsContainer {
  padding-bottom: 20px;
  border-bottom: solid 1px $neutral3;

  .teams {
    display: flex;

    > * + * {
      margin-left: 5px;
    }
  }
}

.leadersContainer {
  padding-bottom: 20px;
  border-bottom: solid 1px $neutral3;

  .avatarContainer {
    display: flex;

    > * + * {
      margin-left: 12px;
    }

    .avatar {
      width: 32px;
      height: 32px;

      img {
        width: 100%;
        height: 100%;
        border-radius: $radius-circle;
      }
    }
  }
}

.bottom {
  @include sub-text;
  @include flex-center-sb;

  button {
    @include button;
    width: fit-content;
    margin-top: 0;
  }
}
