@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.title {
  @include sub-title;
}

.number {
  font-size: 20px;
  font-weight: normal;

  span {
    font-size: 14px;
  }
}
