@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.headerWrap {
  @include flex-center-sb;
  z-index: 5;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 30px;
  color: $header-text;
  box-shadow: var(--shadow);
  background-color: var(--card-bg);

  >* {
    display: flex;
  }

  .left {
    @include flex-center-sb;
    flex-basis: 20%;

    .logo {
      width: 40px;
      height: 40px;
      padding: 20px 0;
      cursor: pointer;

      >img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .iconWrap {
    >* {
      padding: 12px;
      cursor: pointer;
    }
  }
}