@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.title,
.detail {
  @include flex-center-sb;
}

.title {
  @include title;
  border-bottom: solid 1px $neutral3;
  padding-bottom: 24px;

  .selectBox {
    font-size: 16px;
  }
}

.detail {
  padding: 18px 0;

  .text {
    @include sub-text;
  }

  .number {
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.chartContainer {
  display: flex;
  justify-content: center;
  height: 300px;
}

.legendsContainer {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 16px;

  > * + * {
    margin-left: 12px;
  }

  > * {
    display: flex;
    align-items: center;

    span {
      width: 12px;
      height: 12px;
      display: inline-block;
      border-radius: $radius-circle;
      margin-right: 4px;
    }
  }

  :nth-child(1) {
    span {
      background-color: $primary;
    }
  }

  :nth-child(2) {
    span {
      background-color: $secondary;
    }
  }

  :nth-child(3) {
    span {
      background-color: $header-text;
    }
  }
}
