@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.leftContainer {
  .number {
    @include title;
  }

  .text {
    @include sub-text;
  }

  .labelGroup {
    @include sub-text;
    @include flex-column;
    padding-top: 24px;
    width: fit-content;

    > * + * {
      margin-top: 9px;
    }

    .row {
      display: flex;

      > * {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          width: 12px;
          height: 12px;
          display: inline-block;
          border-radius: $radius-circle;
          margin-right: 3px;
        }
      }

      > * + * {
        margin-left: 12px;
      }
    }

    :nth-child(1) {
      :nth-child(1) {
        span {
          background-color: $blue;
        }
      }

      :nth-child(2) {
        span {
          background-color: $secondary;
        }
      }
    }

    :nth-child(2) {
      :nth-child(1) {
        span {
          background-color: $yellow;
        }
      }

      :nth-child(2) {
        span {
          background-color: $neutral4;
        }
      }
    }
  }
}

.rightContainer {
  width: fit-content;
  height: 130px;
  background-image: url(../../assets/icons/shopping-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
