@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.title {
  @include title;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;

  tbody {
    tr {
      border-bottom: 1px solid $neutral3;

      &:last-child {
        border-bottom: none;
      }

      &:last-child {
        td {
          padding-top: 16px;
          padding-bottom: 0;
        }
      }
    }

    td {
      padding: 18px 0;

      &:nth-child(2) .sold,
      &:nth-child(3) .subtext {
        @include sub-text;
      }

      &:nth-child(1) {
        display: flex;
        align-items: center;

        > * + * {
          margin-left: 16px;
        }

        .imgContainer {
          width: 90px;
          height: 70px;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: $radius-active-tab;
          }
        }

        .textContainer {
          .name {
            font-size: 16px;
            font-weight: 600;
          }

          .ingres {
            @include sub-text;
            padding-top: 5px;
          }
        }
      }

      &:nth-child(2) {
        .fullBar {
          position: relative;
          display: inline-block;
          height: 3px;
          width: 100px;
          margin-top: 12px;
          margin-bottom: 6px;
          border-radius: $radius-active-tab;
          background-color: var(--icon-bg);

          > * {
            position: static;
            margin-bottom: 10px;
            display: inline-block;
            height: 3px;
            width: 90px;
            border-radius: $radius-active-tab;
          }

          .progressBar {
            &_excellent {
              background-color: $primary;
            }

            &_good {
              background-color: $blue;
            }

            &_average {
              background-color: $yellow;
            }

            &_poor {
              background-color: $red;
            }
          }
        }
      }

      &:nth-child(3) {
        .number {
          @include sub-title;
          padding-top: 5px;
        }
      }

      &:nth-child(4) {
        > * {
          cursor: pointer;
        }

        .tooltipContainer {
          @include tooltip-container;

          .tooltip {
            @include tooltip;
            left: 0;
            bottom: 141%;
            margin-left: -28px;
          }
        }
      }
    }
  }
}
