@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.title {
  @include title;
  @include flex-center-sb;
  align-items: baseline;

  .legendsContainer {
    display: flex;
    font-size: 14px;

    > * + * {
      margin-left: 24px;
    }

    .legend {
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        border-radius: $radius-circle;
      }

      &:nth-child(1) {
        span {
          background-color: $secondary;
        }
      }

      &:nth-child(2) {
        span {
          background-color: $primary;
        }
      }
    }
  }
}
