.themeToggleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  .checkboxWrapper5 {
    .check {
      --size: 40px;
      position: relative;
      background: linear-gradient(45deg, #f8d0b3, #f49167);
      line-height: 0;
      perspective: 400px;
      font-size: var(--size);
      appearance: none;
      display: inline-block;
      border-radius: var(--size);
      border: 0;
      transition: 0.35s ease-in-out;
      box-sizing: border-box;
      cursor: pointer;

      input[type='checkbox'],
      label,
      label::before,
      label::after {
        appearance: none;
        display: inline-block;
        border-radius: var(--size);
        border: 0;
        transition: 0.35s ease-in-out;
        box-sizing: border-box;
        cursor: pointer;
      }

      label {
        width: calc(2.2 * var(--size));
        height: var(--size);
        background: linear-gradient(45deg, #15304d, #4c7189);
        overflow: hidden;
      }

      input[type='checkbox'] {
        position: absolute;
        z-index: 1;
        width: calc(0.8 * var(--size));
        height: calc(0.8 * var(--size));
        top: calc(0.1 * var(--size));
        left: calc(0.1 * var(--size));
        background: linear-gradient(45deg, #fdf7ee, #ffffff);
        box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
        outline: none;
        margin: 0;

        &:checked {
          left: calc(1.3 * var(--size));

          + label {
            background: transparent;
          }

          + label::before,
          + label::after {
            left: calc(1.55 * var(--size));
            top: calc(0.4 * var(--size));
            line-height: calc(0.1 * var(--size));
            transform: rotateY(360deg);
          }

          + label::after {
            height: calc(0.16 * var(--size));
            top: calc(0.55 * var(--size));
            left: calc(1.6 * var(--size));
            font-size: calc(0.6 * var(--size));
            line-height: 0;
          }
        }
      }

      label::before,
      label::after {
        content: '· ·';
        position: absolute;
        overflow: hidden;
        left: calc(0.15 * var(--size));
        top: calc(0.5 * var(--size));
        height: var(--size);
        letter-spacing: calc(-0.04 * var(--size));
        color: rgba(0, 0, 0, 0.3);
        font-family: 'Times New Roman', serif;
        z-index: 2;
        font-size: calc(0.6 * var(--size));
        border-radius: 0;
        transform-origin: 0 0 calc(-0.5 * var(--size));
        backface-visibility: hidden;
      }

      label::after {
        content: '●';
        top: calc(0.65 * var(--size));
        left: calc(0.2 * var(--size));
        height: calc(0.1 * var(--size));
        width: calc(0.35 * var(--size));
        font-size: calc(0.2 * var(--size));
        transform-origin: 0 0 calc(-0.4 * var(--size));
      }
    }
  }
}
