@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.title {
  @include title;
  margin-bottom: 16px;
}

.bodyContainer {
  display: flex;
  align-items: center;

  .leftContainer {
    flex-basis: 40%;

    .body {
      border-right: 1px solid $neutral6;
      padding-right: 24px;
      margin-right: 24px;
      display: flex;
      flex-direction: column;

      > * + * {
        margin-top: 32px;
      }

      .number {
        @include title;
        display: flex;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          margin-left: 9px;
          width: 32px;
          height: 32px;
          background-color: $green;
          border-radius: $radius-circle;
        }
      }

      .subtitle {
        @include sub-text;
      }
    }
  }

  .rightContainer {
    flex-basis: 60%;
  }
}
