@import '../../assets/styles/variables.scss';
@import '../../assets/styles/index.scss';

.title {
  @include title;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
}

.imgContainer {
  height: 186px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

h4 {
  padding: 24px 0 6px 0;
}

.author {
  @include sub-text;
  padding-bottom: 24px;
}

button {
  margin-top: 24px;
}
