@import './variables.scss';

html {
  scroll-behavior: smooth;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  background-color: #10120f;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset !important;
}

@mixin card {
  padding: 24px;
  border-radius: $radius-card;
  background-color: var(--card-bg);
  box-shadow: var(--shadow-card);
}

@mixin button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  width: 100%;
  padding: 6px 16px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 1.75;
  background-color: $primary;
  color: $neutral1;

  &:hover {
    background-color: $primary--hover;
  }
}

@mixin title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 2;
}

@mixin sub-title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

@mixin sub-text {
  font-size: 14px;
  color: var(--card-subtext);
}

@mixin tooltip-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
}

@mixin tooltip {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--dropdown-bg);
  z-index: 3;
  opacity: 0;
  left: 120%;
  bottom: 125%;
  width: 72px;
  height: 22px;
  margin-left: -61px;
  border-radius: 6px;
  font-size: 12px;
  transition: opacity 0.3s;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--dropdown-bg) transparent transparent transparent;
  }
}

/*
  dropdown z-index: 3
*/
