@import './variables.scss';

html {
  scroll-behavior: smooth;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'DM Sans', sans-serif;
}

p {
  margin: unset !important;
}

.card {
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
  color: var(--card-text);
  background-color: var(--card-bg);
}

.button {
  padding: 6px 16px;
  background-color: $primary;
  color: $neutral1;
  border: none;
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
  line-height: 1.75;
  width: 100%;
}
