$primary: #cec266;
$primary--hover: #c0b55d;
$secondary: #ba6039;
$green: #91b958;
$red: #e9765f;
$yellow: #eeb736;
$header-text: #949db2;

$neutral1: #ffffff;
$neutral2: #767e89;
$neutral3: rgba(118, 126, 137, 0.349);
$neutral4: #87898e;
$neutral5: #212121;

$radius-circle: 9999px;
$radius-card: 16px;
$radius-active-tab: 5px;

[data-theme='light-theme'] {
  background-color: #fdf7ee;
  color: #212121;
  --secondary-text-1: #777e89;
  --secondary-text-2: #767e89;
  --card-bg: #ffffff;
  --card-text: #000;
  --dropdown-bg: #ffffff;
  --icon-bg: #f6f6f6;
  --icon-bg-hover: #ebebeb;
  --shadow-card: rgba(116, 116, 116, 0.08) 5px 5px 9px;
  --shadow: rgba(116, 116, 116, 0.08) 1px 2px 10px;
}

[data-theme='dark-theme'] {
  background-color: #10120f;
  color: #ffffff;
  --secondary-text-1: #767e89;
  --secondary-text-2: #adb0bb;
  --card-bg: #363a34;
  --card-text: #e6e5e8;
  --card-subtext: #e0e0e0;
  --dropdown-bg: #4a4e48;
  --icon-bg: #ffffff;
  --icon-bg-hover: #f1f0f0;
  --shadow-card: rgba(180, 180, 180, 0.08) 5px 5px 9px;
  --shadow: rgba(150, 150, 150, 0.18) 0px 3px 27px;
}
