@import '../assets/styles/variables.scss';

.layout {
  &__main {
    display: flex;
    padding: 110px 30px 30px 30px;
  }

  &__sidebar {
    position: fixed;
    box-sizing: border-box;
    text-align: left;
    padding: 24px 0 24px 16px;
    height: calc(100vh - 140px);
    width: calc(100vw - 80% - 68px);
    box-shadow: var(--shadow-card);
    border-radius: $radius-card;
    background-color: var(--card-bg);
  }

  &__custom-scrollbar {
    padding-right: 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px - 48px);

    > * + * {
      margin-top: 18px;
    }
  }

  &__outlet {
    box-sizing: border-box;
    width: 100%;
    padding-left: calc(100vw - 80% - 68px);
  }
}
